=begin
#API Documentation | Printful

## About the Printful API  The Printful API is a RESTful API, that uses an HTTP protocol for communication. HTTP GET, POST, PUT and DELETE methods are used to access the API resources.  ## Requests and responses  ### Request endpoint All API requests have to be sent to this URL: ``` https://api.printful.com/ ``` If you are using a proxy, make sure that all requests have host header set to **api.printful.com**.  ### Request parameters Some mandatory parameters (like object identifiers) must be included in the request URL path ``` GET /orders/123 ``` Additional parameters can be passed as GET variables: ``` GET /orders?offset=10&limit=5 ``` For POST and PUT requests, a more complex data structure can be passed as JSON encoded data in the request body: ``` POST /orders  {\"recipient\":{...},\"items\":[...]} ```  ### Response body The response body is always a JSON object that contains a response status code (identical to the HTTP status code) and the result of the action. If the status code is 200, then the action was successful. ``` {    \"code\": 200, //Response status code    \"result\":{       //API method return data    //...    } } ```  Sometimes the response includes paging information to allow to browse larger result sets by adding offset and limit GET parameters to the request URL. ``` {    \"code\": 200, //Response status code    \"result\":[     {        //Item 11     },     {        //Item 12     }    ]    \"paging\": {       \"total\": 12,  //Total items available       \"offset\": 10, //Items skipped from the beginning       \"limit\": 20   //Number of items per page    } } ```  ## Error response If the API call is not successful, then the response code is not in the 2xx range and the `result` attribute contains an error description. ``` {     \"code\": 404,     \"result\": \"Not Found\",     \"error\": {         \"reason\": \"NotFound\",         \"message\": \"Not Found\"     } } ```  In general, response codes in the 4xx range indicate an error that resulted from the provided information (e.g. a required parameter was missing, etc.), and codes in the 5xx range indicate an error with Printful's servers.  ### Timestamps All timestamps from the API are returned as integers in UNIX timestamp format.  ### Rate Limits Printful API has a general rate limit of 120 API calls per minute. Additionally, endpoints that perform resource intensive operations (such as mockup generator) have a lower allowed request limit.  # Authentication  <!-- ReDoc-Inject: <security-definitions> -->

The version of the OpenAPI document: 1.0
Contact: devsupport@printful.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.0.0-SNAPSHOT

=end

require 'cgi'

module Printful
  class EcommercePlatformSyncAPIClient
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete a Sync Product
    # Deletes a Sync Product with all of its Sync Variants
    # @param id [GetSyncProductByIdIdParameter] Sync Product ID (integer) or External ID (if prefixed with @)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_pf_store_id Use this to specify which store you want to use (required only for account level token)
    # @return [GetSyncProductById200Response]
    def delete_store_sync_product(id, opts = {})
      data, _status_code, _headers = delete_store_sync_product_with_http_info(id, opts)
      data
    end

    # Delete a Sync Product
    # Deletes a Sync Product with all of its Sync Variants
    # @param id [GetSyncProductByIdIdParameter] Sync Product ID (integer) or External ID (if prefixed with @)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_pf_store_id Use this to specify which store you want to use (required only for account level token)
    # @return [Array<(GetSyncProductById200Response, Integer, Hash)>] GetSyncProductById200Response data, response status code and response headers
    def delete_store_sync_product_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EcommercePlatformSyncAPIClient.delete_store_sync_product ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EcommercePlatformSyncAPIClient.delete_store_sync_product"
      end
      # resource path
      local_var_path = '/sync/products/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-PF-Store-Id'] = opts[:'x_pf_store_id'] if !opts[:'x_pf_store_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetSyncProductById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth']

      new_options = opts.merge(
        :operation => :"EcommercePlatformSyncAPIClient.delete_store_sync_product",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EcommercePlatformSyncAPIClient#delete_store_sync_product\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a Sync Variant
    # Deletes configuraton information (`variant_id`, print files and options) and disables automatic order importing for this Sync Variant.
    # @param id [GetSyncProductByIdIdParameter] Sync Variant ID (integer) or External ID (if prefixed with @)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_pf_store_id Use this to specify which store you want to use (required only for account level token)
    # @return [GetStoreSyncVariantById200Response]
    def delete_store_sync_variant(id, opts = {})
      data, _status_code, _headers = delete_store_sync_variant_with_http_info(id, opts)
      data
    end

    # Delete a Sync Variant
    # Deletes configuraton information (&#x60;variant_id&#x60;, print files and options) and disables automatic order importing for this Sync Variant.
    # @param id [GetSyncProductByIdIdParameter] Sync Variant ID (integer) or External ID (if prefixed with @)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_pf_store_id Use this to specify which store you want to use (required only for account level token)
    # @return [Array<(GetStoreSyncVariantById200Response, Integer, Hash)>] GetStoreSyncVariantById200Response data, response status code and response headers
    def delete_store_sync_variant_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EcommercePlatformSyncAPIClient.delete_store_sync_variant ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EcommercePlatformSyncAPIClient.delete_store_sync_variant"
      end
      # resource path
      local_var_path = '/sync/variant/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-PF-Store-Id'] = opts[:'x_pf_store_id'] if !opts[:'x_pf_store_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetStoreSyncVariantById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth']

      new_options = opts.merge(
        :operation => :"EcommercePlatformSyncAPIClient.delete_store_sync_variant",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EcommercePlatformSyncAPIClient#delete_store_sync_variant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a Sync Product
    # Get information about a single Sync Product and its Sync Variants
    # @param id [GetSyncProductByIdIdParameter] Sync Product ID (integer) or External ID (if prefixed with @)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_pf_store_id Use this to specify which store you want to use (required only for account level token)
    # @return [GetSyncProductById200Response]
    def get_store_sync_product_by_id(id, opts = {})
      data, _status_code, _headers = get_store_sync_product_by_id_with_http_info(id, opts)
      data
    end

    # Get a Sync Product
    # Get information about a single Sync Product and its Sync Variants
    # @param id [GetSyncProductByIdIdParameter] Sync Product ID (integer) or External ID (if prefixed with @)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_pf_store_id Use this to specify which store you want to use (required only for account level token)
    # @return [Array<(GetSyncProductById200Response, Integer, Hash)>] GetSyncProductById200Response data, response status code and response headers
    def get_store_sync_product_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EcommercePlatformSyncAPIClient.get_store_sync_product_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EcommercePlatformSyncAPIClient.get_store_sync_product_by_id"
      end
      # resource path
      local_var_path = '/sync/products/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-PF-Store-Id'] = opts[:'x_pf_store_id'] if !opts[:'x_pf_store_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetSyncProductById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth']

      new_options = opts.merge(
        :operation => :"EcommercePlatformSyncAPIClient.get_store_sync_product_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EcommercePlatformSyncAPIClient#get_store_sync_product_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get list of Sync Products
    # Returns list of Sync Product objects from your store.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Filter by item status (&#x60;synced&#x60;/&#x60;unsynced&#x60;/&#x60;all&#x60;). If only some of the variants are synced,the product is returned by both unsynced and synced filters
    # @option opts [String] :search Product search needle
    # @option opts [Integer] :offset Result set offset
    # @option opts [Integer] :limit Number of items per page (max 100)
    # @option opts [String] :x_pf_store_id Use this to specify which store you want to use (required only for account level token)
    # @return [GetSyncProducts200Response]
    def get_store_sync_products(opts = {})
      data, _status_code, _headers = get_store_sync_products_with_http_info(opts)
      data
    end

    # Get list of Sync Products
    # Returns list of Sync Product objects from your store.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Filter by item status (&#x60;synced&#x60;/&#x60;unsynced&#x60;/&#x60;all&#x60;). If only some of the variants are synced,the product is returned by both unsynced and synced filters
    # @option opts [String] :search Product search needle
    # @option opts [Integer] :offset Result set offset
    # @option opts [Integer] :limit Number of items per page (max 100)
    # @option opts [String] :x_pf_store_id Use this to specify which store you want to use (required only for account level token)
    # @return [Array<(GetSyncProducts200Response, Integer, Hash)>] GetSyncProducts200Response data, response status code and response headers
    def get_store_sync_products_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EcommercePlatformSyncAPIClient.get_store_sync_products ...'
      end
      # resource path
      local_var_path = '/sync/products'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-PF-Store-Id'] = opts[:'x_pf_store_id'] if !opts[:'x_pf_store_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetSyncProducts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth']

      new_options = opts.merge(
        :operation => :"EcommercePlatformSyncAPIClient.get_store_sync_products",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EcommercePlatformSyncAPIClient#get_store_sync_products\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a Sync Variant
    # Get information about a single Sync Variant
    # @param id [GetSyncProductByIdIdParameter] Sync Variant ID (integer) or External ID (if prefixed with @)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_pf_store_id Use this to specify which store you want to use (required only for account level token)
    # @return [GetStoreSyncVariantById200Response]
    def get_store_sync_variant_by_id(id, opts = {})
      data, _status_code, _headers = get_store_sync_variant_by_id_with_http_info(id, opts)
      data
    end

    # Get a Sync Variant
    # Get information about a single Sync Variant
    # @param id [GetSyncProductByIdIdParameter] Sync Variant ID (integer) or External ID (if prefixed with @)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_pf_store_id Use this to specify which store you want to use (required only for account level token)
    # @return [Array<(GetStoreSyncVariantById200Response, Integer, Hash)>] GetStoreSyncVariantById200Response data, response status code and response headers
    def get_store_sync_variant_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EcommercePlatformSyncAPIClient.get_store_sync_variant_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EcommercePlatformSyncAPIClient.get_store_sync_variant_by_id"
      end
      # resource path
      local_var_path = '/sync/variant/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-PF-Store-Id'] = opts[:'x_pf_store_id'] if !opts[:'x_pf_store_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetStoreSyncVariantById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth']

      new_options = opts.merge(
        :operation => :"EcommercePlatformSyncAPIClient.get_store_sync_variant_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EcommercePlatformSyncAPIClient#get_store_sync_variant_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Modify a Sync Variant
    # Modifies an existing Sync Variant.  Please note that in the request body you only need to specify the fields that need to be changed. See examples for more insights.  [See examples](#section/Ecommerce-Platform-Sync-API-examples/Modify-a-Sync-Variant) 
    # @param id [GetSyncProductByIdIdParameter] Sync Variant ID (integer) or External ID (if prefixed with @)
    # @param update_sync_variant_request [UpdateSyncVariantRequest] POST request body
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_pf_store_id Use this to specify which store you want to use (required only for account level token)
    # @return [GetStoreSyncVariantById200Response]
    def update_store_sync_variant(id, update_sync_variant_request, opts = {})
      data, _status_code, _headers = update_store_sync_variant_with_http_info(id, update_sync_variant_request, opts)
      data
    end

    # Modify a Sync Variant
    # Modifies an existing Sync Variant.  Please note that in the request body you only need to specify the fields that need to be changed. See examples for more insights.  [See examples](#section/Ecommerce-Platform-Sync-API-examples/Modify-a-Sync-Variant) 
    # @param id [GetSyncProductByIdIdParameter] Sync Variant ID (integer) or External ID (if prefixed with @)
    # @param update_sync_variant_request [UpdateSyncVariantRequest] POST request body
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_pf_store_id Use this to specify which store you want to use (required only for account level token)
    # @return [Array<(GetStoreSyncVariantById200Response, Integer, Hash)>] GetStoreSyncVariantById200Response data, response status code and response headers
    def update_store_sync_variant_with_http_info(id, update_sync_variant_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EcommercePlatformSyncAPIClient.update_store_sync_variant ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EcommercePlatformSyncAPIClient.update_store_sync_variant"
      end
      # verify the required parameter 'update_sync_variant_request' is set
      if @api_client.config.client_side_validation && update_sync_variant_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_sync_variant_request' when calling EcommercePlatformSyncAPIClient.update_store_sync_variant"
      end
      # resource path
      local_var_path = '/sync/variant/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-PF-Store-Id'] = opts[:'x_pf_store_id'] if !opts[:'x_pf_store_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_sync_variant_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GetStoreSyncVariantById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth']

      new_options = opts.merge(
        :operation => :"EcommercePlatformSyncAPIClient.update_store_sync_variant",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EcommercePlatformSyncAPIClient#update_store_sync_variant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
