=begin
#API Documentation | Printful

## About the Printful API  The Printful API is a RESTful API, that uses an HTTP protocol for communication. HTTP GET, POST, PUT and DELETE methods are used to access the API resources.  ## Requests and responses  ### Request endpoint All API requests have to be sent to this URL: ``` https://api.printful.com/ ``` If you are using a proxy, make sure that all requests have host header set to **api.printful.com**.  ### Request parameters Some mandatory parameters (like object identifiers) must be included in the request URL path ``` GET /orders/123 ``` Additional parameters can be passed as GET variables: ``` GET /orders?offset=10&limit=5 ``` For POST and PUT requests, a more complex data structure can be passed as JSON encoded data in the request body: ``` POST /orders  {\"recipient\":{...},\"items\":[...]} ```  ### Response body The response body is always a JSON object that contains a response status code (identical to the HTTP status code) and the result of the action. If the status code is 200, then the action was successful. ``` {    \"code\": 200, //Response status code    \"result\":{       //API method return data    //...    } } ```  Sometimes the response includes paging information to allow to browse larger result sets by adding offset and limit GET parameters to the request URL. ``` {    \"code\": 200, //Response status code    \"result\":[     {        //Item 11     },     {        //Item 12     }    ]    \"paging\": {       \"total\": 12,  //Total items available       \"offset\": 10, //Items skipped from the beginning       \"limit\": 20   //Number of items per page    } } ```  ## Error response If the API call is not successful, then the response code is not in the 2xx range and the `result` attribute contains an error description. ``` {     \"code\": 404,     \"result\": \"Not Found\",     \"error\": {         \"reason\": \"NotFound\",         \"message\": \"Not Found\"     } } ```  In general, response codes in the 4xx range indicate an error that resulted from the provided information (e.g. a required parameter was missing, etc.), and codes in the 5xx range indicate an error with Printful's servers.  ### Timestamps All timestamps from the API are returned as integers in UNIX timestamp format.  ### Rate Limits Printful API has a general rate limit of 120 API calls per minute. Additionally, endpoints that perform resource intensive operations (such as mockup generator) have a lower allowed request limit.  # Authentication  <!-- ReDoc-Inject: <security-definitions> -->

The version of the OpenAPI document: 1.0
Contact: devsupport@printful.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.0.0-SNAPSHOT

=end

require 'cgi'

module Printful
  class WarehouseProductsAPIClient
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get warehouse product data
    # Returns warehouse product data by ID
    # @param id [GetSyncProductByIdIdParameter] Product ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_pf_store_id Use this to specify which store you want to use (required only for account level token)
    # @return [GetWarehouseProduct200Response]
    def get_warehouse_product(id, opts = {})
      data, _status_code, _headers = get_warehouse_product_with_http_info(id, opts)
      data
    end

    # Get warehouse product data
    # Returns warehouse product data by ID
    # @param id [GetSyncProductByIdIdParameter] Product ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_pf_store_id Use this to specify which store you want to use (required only for account level token)
    # @return [Array<(GetWarehouseProduct200Response, Integer, Hash)>] GetWarehouseProduct200Response data, response status code and response headers
    def get_warehouse_product_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehouseProductsAPIClient.get_warehouse_product ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WarehouseProductsAPIClient.get_warehouse_product"
      end
      # resource path
      local_var_path = '/warehouse/products/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-PF-Store-Id'] = opts[:'x_pf_store_id'] if !opts[:'x_pf_store_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWarehouseProduct200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth']

      new_options = opts.merge(
        :operation => :"WarehouseProductsAPIClient.get_warehouse_product",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WarehouseProductsAPIClient#get_warehouse_product\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of your warehouse products
    # Returns a list of warehouse products from your store
    # @param [Hash] opts the optional parameters
    # @option opts [String] :query Filter by partial or full product name
    # @option opts [Integer] :limit Number of items per page (max 100)
    # @option opts [Integer] :offset Result set offset
    # @option opts [String] :x_pf_store_id Use this to specify which store you want to use (required only for account level token)
    # @return [GetWarehouseProducts200Response]
    def get_warehouse_products(opts = {})
      data, _status_code, _headers = get_warehouse_products_with_http_info(opts)
      data
    end

    # Get a list of your warehouse products
    # Returns a list of warehouse products from your store
    # @param [Hash] opts the optional parameters
    # @option opts [String] :query Filter by partial or full product name
    # @option opts [Integer] :limit Number of items per page (max 100)
    # @option opts [Integer] :offset Result set offset
    # @option opts [String] :x_pf_store_id Use this to specify which store you want to use (required only for account level token)
    # @return [Array<(GetWarehouseProducts200Response, Integer, Hash)>] GetWarehouseProducts200Response data, response status code and response headers
    def get_warehouse_products_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehouseProductsAPIClient.get_warehouse_products ...'
      end
      # resource path
      local_var_path = '/warehouse/products'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-PF-Store-Id'] = opts[:'x_pf_store_id'] if !opts[:'x_pf_store_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWarehouseProducts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth']

      new_options = opts.merge(
        :operation => :"WarehouseProductsAPIClient.get_warehouse_products",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WarehouseProductsAPIClient#get_warehouse_products\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
